.counter {
  position: absolute;
  z-index: -99;
}
.circle {
  position: absolute;
  z-index: 99;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 5px solid #fff;
  left: 25%;
  top: 24%;
}

.row5 {
  animation: animateRow5 500ms ease-in 1;
}
.row4 {
  animation: animateRow4 400ms ease-in 1;
}
.row3 {
  animation: animateRow3 300ms ease-in 1;
}
.row2 {
  animation: animateRow2 200ms ease-in 1;
}
.row1 {
  animation: animateRow1 100ms ease-in 1;
}
.row0 {
  animation: animateRow0 50ms ease-in 1;
}
@media (min-width: 425px) {
  .circle {
    position: absolute;
    z-index: 99;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 5px solid #fff;
    left: 25%;
    top: 25%;
  }
}
@keyframes animateRow5 {
  0% {
    top: 0%;
  }

  50% {
    top: 78.5%;
  }
  75% {
    top: 68%;
  }
  100% {
    top: 78.5%;
  }
}
@keyframes animateRow4 {
  0% {
    top: 0%;
  }
  50% {
    top: 63.5%;
  }
  75% {
    top: 55%;
  }
  100% {
    top: 63.5%;
  }
}
@keyframes animateRow3 {
  0% {
    top: 0%;
  }
  50% {
    top: 48%;
  }
  75% {
    top: 40%;
  }
  100% {
    top: 48%;
  }
}
@keyframes animateRow2 {
  0% {
    top: 0%;
  }
  50% {
    top: 33%;
  }
  75% {
    top: 25%;
  }
  100% {
    top: 33%;
  }
}
@keyframes animateRow1 {
  0% {
    top: 0%;
  }
  50% {
    top: 18%;
  }
  75% {
    top: 12%;
  }
  100% {
    top: 18%;
  }
}
@keyframes animateRow1 {
  0% {
    top: 0%;
  }
  50% {
    top: 2.9%;
  }
  75% {
    top: -2%;
  }
  100% {
    top: 2.9%;
  }
}
