.gameContainer {
  justify-content: center;
  align-items: flex-start;
  position: relative;
  grid-template-areas: 'player1 player2' 'gameboard gameboard';
  grid-template-rows: 140px auto;
  column-gap: 4.1rem;
  row-gap: 2rem;
}

.gameBoard {
  grid-area: gameboard;
  position: relative;
  cursor: pointer;

  margin-inline: auto;
}

.lowerLayer {
  z-index: -999;
  transform: translateY(0);
  position: absolute;
}

footer div {
  border-radius: 60px 60px 0px 0px;
  min-height: 200px;
  position: relative;
  z-index: -9999999;
  background: var(--dark-purple);
}
@media (min-width: 768px) {
  .gameContainer {
    grid-template-areas: 'player1 gameboard player2';
    grid-template-rows: max-content;
    align-items: center;
    column-gap: 6rem;
  }
  .lowerLayer {
    transform: translateY(0.2rem);
  }
}
